@import './assets/fonts/Roboto/Roboto.scss';
@import 'rfs/scss';

.App {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: burlywood;
    flex-grow: 1;
    height: 100vh;

    .title {
        font-family: Roboto;
        @include font-size(4.5rem);
        font-weight: 400;
    }

}