$background: rgb(222, 184, 135);
$title: rgb(0, 0, 0);

.app {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  height: 100vh;
  background-color: $background;

  .title {
    font-size: 6vmin;
    color: $title;
  }
}
